<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Cart</title>
		<link th:href="@{/styles/main.css}" rel="stylesheet"/>
	</head>
	<body>
		<header>
			<!--	logout button -->
		</header>
		
		<main>
			<section>
				<h1>Cart</h1>
			</section>
			
			<section>
				<a href="/">Back to the store</a>
			</section>
			
			<section id="section-cart">
				<h2>Items</h2>
				
				<div th:if="${cartItems.size <= 0}">
					<p>No products found</p>
				</div>
				
				<div>
					<p th:if="${error}">[[${error}]]</p>
					<p th:if="${message}">[[${message}]]</p>
				</div>
				
				<div th:class="cart-list">
					<div th:each="item : ${cartItems}" th:object="${item}" th:class="cart-list-item">
						<h3>Product: [[*{name}]]</h3>
						<p>Description: [[*{description}]]</p>
						<p>Price: [[*{price}]]€</p>
						<p>Remaining: [[*{stock}]]</p>
						
						<form th:action="@{/cart/remove/{id}(id=${item.id})}"
									method="post"
									th:disabled="*{stock < 1}">
							<button type="submit" th:disabled="*{stock < 1}">Remove from cart</button>
						</form>
					</div>
				</div>
				
				<div>
					<p>
						Total: [[${#numbers.formatCurrency(totalPrice)}]] ([[${cartItems.size}]]
						item<span th:text="${cartItems.size > 1} ? s"/>)
					</p>
					
					<form th:action="@{/cart/validate}" method="post">
						<button type="submit" th:disabled="${cartItems.size < 1}">Validate Cart</button>
					</form>
				</div>
			</section>
		</main>
	</body>
</html>