<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="https://www.thymeleaf.org"
			xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="UTF-8">
		<title>Cart</title>
		<link th:href="@{/styles/main.css}" rel="stylesheet"/>
	</head>
	<body>
		<header>
			<div sec:authorize="isAuthenticated()">
				<p>Welcome, <span sec:authentication="principal.username">visitor</span>!</p>
				<form th:action="@{/logout}" method="post">
					<button type="submit">Logout</button>
				</form>
			</div>
			
			<div sec:authorize="isAnonymous()">
				<p>Welcome, visitor!</p>
				<a th:href="@{/login}">Login</a>
			</div>
		</header>
		
		<main>
			<section>
				<h1>Cart</h1>
			</section>
			
			<section>
				<a href="/">Back to the store</a>
			</section>
			
			<section th:class="section-products">
				<h2>Items</h2>
				
				<div th:if="${cartItems.size <= 0}">
					<p>No products found</p>
				</div>
				
				<div th:class="alert">
					<div th:class="error" th:if="${error}">[[${error}]]</div>
					<div th:class="success" th:if="${message}">[[${message}]]</div>
				</div>
				
				<div th:class="cart-list">
					<div th:each="item : ${cartItems}" th:object="${item}" th:class="cart-item">
						<div th:class="info">
							<h3>Product: [[*{name}]]</h3>
							<p>Description: [[*{description}]]</p>
							<div th:class="details">
								<p>Price: [[*{price}]]€</p>
								<p>Remaining: [[*{stock}]]</p>
							</div>
						</div>
						
						<form th:action="@{/cart/remove/{id}(id=${item.id})}"
									method="post"
									th:disabled="*{stock < 1}">
							<button type="submit" th:disabled="*{stock < 1}">Remove from cart</button>
						</form>
					</div>
				</div>
				
				<div th:class="cart-recap">
					<p>
						Total: [[${#numbers.formatCurrency(totalPrice)}]] ([[${cartItems.size}]]
						item<span th:text="${cartItems.size > 1} ? s"/>)
					</p>
					<form th:action="@{/cart/validate}" method="post">
						<button type="submit" th:disabled="${cartItems.size < 1}">Validate Cart</button>
					</form>
				</div>
			</section>
		</main>
	</body>
</html>