<!DOCTYPE html>
<html lang="en"
			xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="https://www.thymeleaf.org"
			xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="UTF-8">
		<title>Products</title>
		<link th:href="@{/styles/main.css}" rel="stylesheet"/>
	</head>
	<body>
		<header>
			<div sec:authorize="isAuthenticated()">
				<p>Welcome, <span sec:authentication="principal.username">visitor</span>!</p>
				<form th:action="@{/logout}" method="post">
					<button type="submit">Logout</button>
				</form>
			</div>
			
			<div sec:authorize="isAnonymous()">
				<p>Welcome, visitor!</p>
				<a th:href="@{/login}">Login</a>
			</div>
		</header>
		
		<main>
			<section th:class="section-title">
				<h1>Product page</h1>
			</section>
			
			<section class="section-products" th:object="${paginatedProducts}">
				<div th:class="list-header">
					<h2>Products List</h2>
					<a th:href="@{/cart}">My cart</a>
				</div>
				
				<div th:if="${paginatedProducts.getSize() <= 0}">
					<p>No products found</p>
				</div>
				
				<div th:class="alert">
					<div th:class="error" th:if="${error}">[[${error}]]</div>
					<div th:class="success" th:if="${message}">[[${message}]]</div>
				</div>
				
				<div th:class="paginated-block" th:if="${paginatedProducts.getSize() > 0}">
					<div th:class="results">
						<div th:class="results-item"
								 th:each="product : ${paginatedProducts.content}"
								 th:object="${product}">
							<h3>Product: [[*{name}]]</h3>
							<p>Description: [[*{description}]]</p>
							<div th:class="details">
								<p>Price: [[*{price}]]€</p>
								<p>Remaining: [[*{stock}]]</p>
							</div>
							<form th:action="@{/cart/add/{id}(id=${product.id})}"
										method="post"
										th:disabled="*{stock < 1}">
								<input type="hidden" name="page" th:value="${currentPage}"/>
								<input type="hidden" name="size" th:value="${paginatedProducts.size}"/>
								<button type="submit" th:disabled="*{stock < 1}">Add to cart</button>
							</form>
						</div>
					</div>
					
					<div th:class="pagination">
						<div th:if="*{totalPages > 0}" class="pagination">
							<a th:class="${paginatedProducts.isFirst} ? hidden"
								 th:href="@{/(page=${currentPage - 1})}"
								 th:text="Prev"/>
							<a th:each="pageNbr: ${pageNumbers}" th:href="@{/(page=${pageNbr})}"
								 th:class="${pageNbr == currentPage} ? active" th:text="${pageNbr}"/>
							<a th:class="${paginatedProducts.isLast()} ? hidden"
								 th:href="@{/(page=${currentPage + 1})}"
								 th:text="Next"/>
						</div>
					</div>
				</div>
			</section>
		</main>
	
	</body>
</html>